<!DOCTYPE html>

<html lang="en">
    <head>
        <style type="text/css">
            p.ok {
                color: green;
            }
            p.danger {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Welcome, {{ user.username }}!</h1>
        <img src="{{ account.img.url }}" alt="img" width="200px">
        <h2>Your asset: {{ account.asset }}</h2>
        <a href="{% url 'energy' %}">To earn more C-coins >></a>
        <h2>Your credit: {{ account.credit }}</h2>
        {% if account.is_authenticated %}
            <p class="ok">Authenticated</p>
        {% else %}
            <p class="danger">Unauthenticated</p>
        {% endif %}
        <a href="{% url 'market' %}">Browse the market -></a>
        <a href="{% url 'logout' %}">log out</a>
    </body>
</html>